{% extends "base.html" %}

{% block content %}
<div dir="rtl" style="text-align: right; padding: 20px;">
    <h2>تسجيل الدخول</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p><button type="submit">دخول</button></p>
    </form>
</div>
{% endblock %}
